<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Localize
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>
      <ion-label>Latitude: {{ lat }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Longitude: {{ log }} </ion-label>
    </ion-item>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="Geoloca()" expand="block" color="danger">Get Positions</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="Clear()" fill="outline" expand="block" color="danger">Clear</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>